:host {
    padding: 0;
    .user-preview {
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;
        justify-content: flex-start;
        align-content  : flex-start;
        align-items    : center;
    }
    .picto-wrapper {
        background   : none;
        border-radius: 50%;
        flex         : 0 1 auto;
        display      : inline-flex;
        padding      : 0;
        margin       : 0 4px;
    }
    .content-wrapper {
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: flex-start;
        align-content  : flex-start;
        align-items    : baseline;
    }
    svg-icon,
    img {
        clip-path: circle(50% at center);
    }
    img {
        max-width : 44px;
        max-height: 44px;
    }
    svg-icon {
        font-size: 27px;
    }

    h3 {
        margin   : 0;
        padding  : 0;
        font-size: 22px;
    }

    &.small {
        img {
            max-width : 28px;
            max-height: 28px;
        }
        h3{
            font-size: 16px;
        }
        svg-icon {
            font-size: 18px;
        }
    }
}