$size-large : 32px;
$size-medium: 22px;
$size-small : 18px;

@mixin wrapper-size($size) {
    font-size: $size;

    
}

:host {
    padding: 0;

    .user-preview {
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;
        justify-content: flex-start;
        align-content  : flex-start;
        align-items    : center;
    }

    .content-wrapper {
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: flex-start;
        align-content  : flex-start;
        align-items    : baseline;
        
        .name-wrapper {
            font-size: 1em !important;
            padding-right: .3em;
        }
        .text-wrapper {
            display: inline-flex;
            font-size: .75em !important;
            font-weight: 400;
        }
    }

    .person {
        border-radius: 50%;
    }

    .name-wrapper {
        margin : 0;
        padding: 0 0 0 6px;
    }

    &.small {
        .content-wrapper {
            font-size: $size-small;
        }
    }
    
    &.medium {
        .content-wrapper {
            font-size: $size-medium;
        }
    }
    
    &.large {
        .content-wrapper {
            font-size: $size-large;
        }
    }
}