$size: 44px;
@mixin picto-size($size, $font-size, $img-padding) {
    img {
        max-width: $size;
        max-height: $size;
        margin-left: $img-padding;
        margin-right: $img-padding;
    }
    svg-icon, h3 {
        font-size: $font-size;
    }
}
:host {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &.small {
        @include picto-size(22px, 16px, 2px);
    }
    &.large {
        @include picto-size(44px, 32px, 4px);
    }
}
mat-icon, img {
    flex: 0 1 auto;
}
img {
    clip-path: circle(50% at center);
}
h3 {
    margin: 0;
    margin-left: .3em;
}