<!--
    <img *ngIf="hasPicto" [src]="user.picto | userPicto"/>
    <svg-icon iconName="account_circle" color="primary" *ngIf="!hasPicto"></svg-icon>
    <h3 *ngIf="showName && user">{{user.name}}</h3>
    <ng-content></ng-content> 
-->
<div class="user-preview">
    <div class="picto-wrapper mat-elevation-z2">
        <img *ngIf="hasPicto" [src]="user.picto | userPicto" />
        <svg-icon iconName="person" color="primary" *ngIf="!hasPicto"></svg-icon>
    </div>
    <div class="content-wrapper">
        <h3 *ngIf="showName && user">{{user.name}}</h3>
        <ng-content></ng-content>
    </div>
</div>