$avatar-size: 140px;
$padding    : 10px;

:host {
    overflow      : hidden;
    display       : flex;
    flex-direction: row;
}

.avatar-card {
    width          : 90vw;
    height         : 90vh;
    display        : flex;
    flex-direction : column;
    flex-wrap      : nowrap;
    justify-content: flex-start;
    align-content  : flex-start;
    align-items    : stretch;

    mat-button-toggle-group {
        margin: 0 16px;
    }

    .avatar-content {
        position     : relative;
        margin-bottom: 0 !important;

        .avatar-list {
            position       : absolute;
            top            : $padding;
            bottom         : $padding;
            left           : $padding;
            right          : $padding;
            overflow       : hidden;
            align-self     : auto;
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: space-around;
            align-content  : space-around;
            align-items    : flex-start;
            margin         : 0;
            padding        : 0;

            .avatar-renderer {
                order        : 0;
                flex         : 0 1 auto;
                align-self   : auto;
                width        : $avatar-size;
                height       : $avatar-size;
                margin       : 0;
                cursor       : pointer;
                border-radius: 50%;
            }
        }
    }
}