<canvas #drawer class="drawer"></canvas>
<mat-card class="avatar-card">
    <mat-card-header class="flex01">
        <mat-card-subtitle>
            Choisir un avatar
            <mat-button-toggle-group aria-label="Type d'avatar">
                <mat-button-toggle *ngFor="let option of toolbarOptions" [value]="option.type">{{option.name}}
                </mat-button-toggle>
            </mat-button-toggle-group>
            <button #btn mat-mini-fab color="accent" (click)="refreshAvatars()">
                <svg-icon [refreshList]="btn" iconName="cached"></svg-icon>
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex11 avatar-content">
        <div #listRef class="avatar-list">
            <img *ngFor="let svg of avatars | async; ; let i = index" 
                [avatarSvg]="svg" 
                avatarItem 
                [avatarItemSelected]="i == selectedAvatar"
                matRipple 
                (click)="selectAvatar(i, svg)"
                class="avatar-renderer">

            <!-- 
            <div *ngFor="let svg of avatars | async; ; let i = index" 
                [avatarSvg]="svg" 
                avatarItem 
                [avatarItemSelected]="i == selectedAvatar"
                matRipple 
                (click)="selectAvatar(i, svg)"
                class="avatar-renderer">
            </div>
             -->
        </div>
    </mat-card-content>
    <mat-card-footer class="flex01">
        <mat-toolbar class="h-box gap16">
            <button (click)="cancel()"  mat-raised-button color="warn">Annuller</button>
            <button (click)="close()"  [disabled]="selectedAvatar == -1" mat-raised-button color="accent">OK</button>
        </mat-toolbar>
    </mat-card-footer>
</mat-card>