:host {
    flex           : 1 1 auto;
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    justify-content: center;
    align-content  : center;
    align-items    : flex-start;
    .mat-card {
        flex: 0 0 auto;
        
    }
}

user-preview {
    margin-bottom: 0;// 12px;
}

.list-avatars {
    div {
        display: inline-flex;
    }
}
form {
    margin: 0;
}
.form-ctn {
    justify-content: space-evenly;
    height: 200px;
}
