<div fxLayout="row" fxLayoutAlign="start stretch" >
    <div>
        <div>
            <h3>Liste des méssages</h3>
            <button mat-raised-button color="accent">Nouveau message</button>
        </div>
        <nav class="mat-elevation-z8" class="dark">
            <mat-nav-list [disableRipple]="false">
                <a *ngFor="let link of links" 
                routerLinkActive="list-item-active"
                mat-list-item>{{ link.subject }}</a>
            </mat-nav-list>
        </nav>
    </div>
    <mat-card fxFlex>
        <mat-card-header>
            <div mat-card-avatar><img width="40px" height="40px" src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg"/></div>
            <mat-card-title>Vous connaissez le Shiba Inu?</mat-card-title>
            <mat-card-subtitle>Fionn Volt</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-footer>
            <mat-toolbar>
                <button mat-raised-button color="accent">Envoyer</button>
            </mat-toolbar>
        </mat-card-footer>
    </mat-card>
</div>