<mat-card class="v-box">
    <div>
        <div class="h-box fx-clr primary" style="align-items: baseline; padding-bottom: 16px;">
            <user-preview [showName]="true" pictoSize="large" [user]="user"></user-preview>
            <span class="flex11"></span>
            <button class="flex00" mat-raised-button (click)="logout()" color="accent">
                Me déconnecter
            </button>

        </div>
        <mat-divider></mat-divider>
    </div>
    <mat-card-content class="ctn-marginY">
        <div class="h-box gap16">
            <picto-view [user]="user" (imgChange)="imgChange($event)"></picto-view>
            <form [formGroup]="formGroup" class="h-box gap16">
                <div class="v-box gap16 form-ctn">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error
                            *ngIf="formGroup.controls.name?.invalid && (formGroup.controls.name.dirty || formGroup.controls.name.touched)">
                            <span *ngIf="formGroup.controls.name.errors.minlength">
                                Nom top court
                            </span>
                            <span *ngIf="formGroup.controls.name.errors.required">
                                Nom est requis
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="!formGroup.controls.email?.valid">
                            Cet email n'est pas valide
                        </mat-error>
                    </mat-form-field>

                </div>
            </form>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="h-box ctn-padding">
            <button (click)="save()" [disabled]="!changed || !formGroup.valid" mat-raised-button
                color="accent">Enregistrer</button>
            <span class="flex11"></span>
            <button [disabled]="!changed" mat-raised-button (click)="clearChanges()" color="warn">Annuller les
                changements</button>
        </div>
    </mat-card-footer>
</mat-card>