<h2 class="fx0" mat-dialog-title>Nouveau message</h2>
<div class="fx1 fx-col" [formGroup]="form">
    <mat-form-field appearance="standard">
        <mat-label>Objet</mat-label>
        <input autocomplete="off" matInput required formControlName="subject">
        <mat-error *ngIf="subjectControl.invalid">
            <span *ngIf="subjectControl.errors.required">
                Objet est requis
            </span>
            <span *ngIf="subjectControl.errors.minlength">
                Objet trop court ({{subjectControl.errors.minlength.actualLength}}/{{subjectControl.errors.minlength.requiredLength}})
            </span> 
        </mat-error>
    </mat-form-field>    
    <mat-form-field appearance="standard" class="fx-col fx1">
        <mat-label>Message</mat-label>
        <div mat-rte [required]="true" formControlName="content" (sendShortcut)="sendShortcut()"></div>
        <mat-error *ngIf="contentControl.invalid">
            <span *ngIf="contentControl.errors.required">
                Message est requis
            </span>
            <span *ngIf="contentControl.errors.minLength">
                Message trop court ({{contentControl.errors.minLength.value}}/{{contentControl.errors.minLength.min}})
            </span>
        </mat-error>
    </mat-form-field>
</div>
<div class="fx0 button-bar">
    <button (click)="cancel()" mat-raised-button color="warn">Annuller</button>
    <button (click)="send()" [disabled]="!form.valid" mat-raised-button color="accent">Envoyer</button>
</div>