<dialog-panel>
    <panel-header>Se connecter</panel-header>
    <panel-content>
        <form [formGroup]="form" fxLayoutGap="12" fxLayout="column" fxLayoutAlign="start start">
            <mat-form-field>
                <mat-label>Mon email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="!form.controls.name?.valid">Cet email n'est pas valide</mat-error>
            </mat-form-field>
        </form>
    </panel-content>
    <panel-footer>
        <footer-spacer></footer-spacer>
        <button [disabled]="!form.valid" (click)="send()" mat-raised-button color="primary">Envoyer</button>
    </panel-footer>
</dialog-panel>