<nav class="emoji-selector" mat-tab-nav-bar [backgroundColor]="">
    <a class="emoji-tab-link" mat-tab-link *ngFor="let c of categories" 
        (click)="setCategory(c)"
        [active]="selectedCategory == c"
        [matFontIcon]="c.name">
    </a>
</nav>
<div #scroller class="list-scroller">
    <div #wrapper class="list-container">
        <emoji-list (emojiClick)="emojiClick.next($event)" [listScroller]="scroller" slideList #main numColl="7" ></emoji-list>
        <emoji-list (emojiClick)="emojiClick.next($event)" slideList #next numColl="7" ></emoji-list>
    </div>
</div>