$probot                : "\e92e";
$format_color_text     : "\e923";
$text_fields           : "\e926";
$directions_bike       : "\e900";
$local_restaurant      : "\e901";
$restaurant            : "\e902";
$fastfood              : "\e903";
$face                  : "\e92d";
$replay_circle_filled  : "\e904";
$lunch_dining          : "\e905";
$youtube               : "\e906";
$woman                 : "\e907";
$sports_soccer         : "\e908";
$send-black            : "\e909";
$send                  : "\e90a";
$reply                 : "\e90b";
$man-woman             : "\e90c";
$man                   : "\e90d";
$mail-black            : "\e90e";
$mail                  : "\e90f";
$leaf                  : "\e910";
$insert_photo-black    : "\e911";
$insert_photo          : "\e912";
$insert_link           : "\e913";
$insert_emoticon-black : "\e914";
$insert_emoticon       : "\e915";
$format_underline      : "\e916";
$format_list_numbered  : "\e917";
$format_list_bulleted  : "\e918";
$format_italic         : "\e919";
$format_indent_increase: "\e91a";
$format_indent_decrease: "\e91b";
$format_clear          : "\e91c";
$format_bold           : "\e91d";
$format_align_right    : "\e91e";
$format_align_left     : "\e91f";
$format_align_center   : "\e920";
$favorite-black        : "\e921";
$favorite              : "\e922";
$emoji_objects-black   : "\e924";
$emoji_objects         : "\e925";
$emoji_bee-black       : "\e928";
$emoji_bee             : "\e929";
$crop                  : "\e92a";
$cached                : "\e92b";
$attach_file           : "\e92c";

@mixin icons() {

    &.format_color_text {
        &:before {
            content: $format_color_text;
        }
    }

    &.text_fields {
        &:before {
            content: $text_fields;
        }
    }

    &.directions_bike {
        &:before {
            content: $directions_bike;
        }
    }

    &.local_restaurant {
        &:before {
            content: $local_restaurant;
        }
    }

    &.restaurant {
        &:before {
            content: $restaurant;
        }
    }

    &.fastfood {
        &:before {
            content: $fastfood;
        }
    }

    &.face {
        &:before {
            content: $face;
        }
    }

    &.replay_circle_filled {
        &:before {
            content: $replay_circle_filled;
        }
    }

    &.lunch_dining {
        &:before {
            content: $lunch_dining;
        }
    }

    &.youtube {
        &:before {
            content: $youtube;
        }
    }

    &.woman {
        &:before {
            content: $woman;
        }
    }

    &.sports_soccer {
        &:before {
            content: $sports_soccer;
        }
    }

    &.send-black {
        &:before {
            content: $send-black;
        }
    }

    &.send {
        &:before {
            content: $send;
        }
    }

    &.reply {
        &:before {
            content: $reply;
        }
    }

    &.man-woman {
        &:before {
            content: $man-woman;
        }
    }

    &.man {
        &:before {
            content: $man;
        }
    }

    &.mail-black {
        &:before {
            content: $mail-black;
        }
    }

    &.mail {
        &:before {
            content: $mail;
        }
    }

    &.leaf {
        &:before {
            content: $leaf;
        }
    }

    &.insert_photo-black {
        &:before {
            content: $insert_photo-black;
        }
    }

    &.insert_photo {
        &:before {
            content: $insert_photo;
        }
    }

    &.insert_link {
        &:before {
            content: $insert_link;
        }
    }

    &.insert_emoticon-black {
        &:before {
            content: $insert_emoticon-black;
        }
    }

    &.insert_emoticon {
        &:before {
            content: $insert_emoticon;
        }
    }

    &.format_underline {
        &:before {
            content: $format_underline;
        }
    }

    &.format_list_numbered {
        &:before {
            content: $format_list_numbered;
        }
    }

    &.format_list_bulleted {
        &:before {
            content: $format_list_bulleted;
        }
    }

    &.format_italic {
        &:before {
            content: $format_italic;
        }
    }

    &.format_indent_increase {
        &:before {
            content: $format_indent_increase;
        }
    }

    &.format_indent_decrease {
        &:before {
            content: $format_indent_decrease;
        }
    }

    &.format_clear {
        &:before {
            content: $format_clear;
        }
    }

    &.format_bold {
        &:before {
            content: $format_bold;
        }
    }

    &.format_align_right {
        &:before {
            content: $format_align_right;
        }
    }

    &.format_align_left {
        &:before {
            content: $format_align_left;
        }
    }

    &.format_align_center {
        &:before {
            content: $format_align_center;
        }
    }

    &.favorite-black {
        &:before {
            content: $favorite-black;
        }
    }

    &.favorite {
        &:before {
            content: $favorite;
        }
    }

    &.emoji_objects-black {
        &:before {
            content: $emoji_objects-black;
        }
    }

    &.emoji_objects {
        &:before {
            content: $emoji_objects;
        }
    }

    &.emoji_bee-black {
        &:before {
            content: $emoji_bee-black;
        }
    }

    &.emoji_bee {
        &:before {
            content: $emoji_bee;
        }
    }

    &.crop {
        &:before {
            content: $crop;
        }
    }

    &.cached {
        &:before {
            content: $cached;
        }
    }

    &.attach_file {
        &:before {
            content: $attach_file;
        }
    }
}