@mixin svg-icons-theme($font-family:"svg-icons", $icons-class:"svg-icons") {
  $hash: unique-id();
  $path: 'styles/fonts';

  $error                  : "\e900";
  $warning                : "\e901";
  $loop                   : "\e902";
  $volume_off             : "\e903";
  $volume_up              : "\e904";
  $email                  : "\e905";
  $add_circle             : "\e906";
  $remove_circle          : "\e907";
  $reply                  : "\e908";
  $send                   : "\e909";
  $insert_photo           : "\e90a";
  $attachment             : "\e90b";
  $file_download          : "\e91c";
  $camera_alt             : "\e90c";
  $filter_vintage         : "\e90d";
  $panorama               : "\e90e";
  $remove_red_eye         : "\e919";
  $location_history       : "\e90f";
  $zoom_out_map           : "\e920";
  $cancel                 : "\e910";
  $refresh                : "\e911";
  $person                 : "\e912";
  $account_circle         : "\e913";
  $autorenew              : "\e914";
  $bug_report             : "\e91b";
  $cached                 : "\e915";
  $settings               : "\e916";
  $indeterminate_check_box: "\e923";
  $replay_circle_filled   : "\e918";
  $emoji_emotions         : "\e917";


  @font-face {
    font-family: '#{$font-family}';
    src        : url('#{$path}/#{$font-family}.ttf?#{$hash}') format('truetype'),
    url('#{$path}/#{$font-family}.woff?#{$hash}') format('woff'),
    url('#{$path}/#{$font-family}.svg?#{$hash}##{$font-family}') format('svg');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
  }

  .#{$icons-class} {
    font-family   : '#{$font-family}' !important;
    font-style    : normal;
    font-weight   : normal;
    font-variant  : normal;
    text-transform: none;
    line-height   : 1;

    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .error {
    &:before {
      content: $error;
    }
  }

  .warning {
    &:before {
      content: $warning;
    }
  }

  .loop {
    &:before {
      content: $loop;
    }
  }

  .volume_off {
    &:before {
      content: $volume_off;
    }
  }

  .volume_up {
    &:before {
      content: $volume_up;
    }
  }

  .email {
    &:before {
      content: $email;
    }
  }

  .add_circle {
    &:before {
      content: $add_circle;
    }
  }

  .remove_circle {
    &:before {
      content: $remove_circle;
    }
  }

  .reply {
    &:before {
      content: $reply;
    }
  }

  .send {
    &:before {
      content: $send;
    }
  }

  .insert_photo {
    &:before {
      content: $insert_photo;
    }
  }

  .attachment {
    &:before {
      content: $attachment;
    }
  }

  .file_download {
    &:before {
      content: $file_download;
    }
  }

  .camera_alt {
    &:before {
      content: $camera_alt;
    }
  }

  .filter_vintage {
    &:before {
      content: $filter_vintage;
    }
  }

  .panorama {
    &:before {
      content: $panorama;
    }
  }

  .remove_red_eye {
    &:before {
      content: $remove_red_eye;
    }
  }

  .location_history {
    &:before {
      content: $location_history;
    }
  }

  .zoom_out_map {
    &:before {
      content: $zoom_out_map;
    }
  }

  .cancel {
    &:before {
      content: $cancel;
    }
  }

  .refresh {
    &:before {
      content: $refresh;
    }
  }

  .person {
    &:before {
      content: $person;
    }
  }

  .account_circle {
    &:before {
      content: $account_circle;
    }
  }

  .autorenew {
    &:before {
      content: $autorenew;
    }
  }

  .bug_report {
    &:before {
      content: $bug_report;
    }
  }

  .cached {
    &:before {
      content: $cached;
    }
  }

  .settings {
    &:before {
      content: $settings;
    }
  }

  .indeterminate_check_box {
    &:before {
      content: $indeterminate_check_box;
    }
  }

  .replay_circle_filled {
    &:before {
      content: $replay_circle_filled;
    }
  }

  .emoji_emotions {
    &:before {
      content: $emoji_emotions;
    }
  }

  // quill download button
  .file_download.label-wrapper {
    &:before {
      content: none;
    }

    &:after {
      font-family: $font-family;
      content    : "\00a0#{unquote($file_download)}";
    }
  }
}