@import "icons.scss";
@import "emoji.scss";

$emoji-size       : 1em;
$emoji-margin     : 4px;

@mixin icon-theme($class: "fec", $line-height: 1em, $font-familly: "emoji-categories") {
    $hash: unique-id();
    $path: 'styles/fonts';

    @font-face {
        font-family: '#{$font-familly}';
        src        : url('#{$path}/#{$font-familly}.eot?#{$hash}');
        src        : url('#{$path}/#{$font-familly}.eot?#{$hash}#iefix') format('embedded-opentype'),
        url('#{$path}/#{$font-familly}.ttf?#{$hash}') format('truetype'),
        url('#{$path}/#{$font-familly}.woff?#{$hash}') format('woff'),
        url('#{$path}/#{$font-familly}.svg?#{$hash}##{$font-familly}') format('svg');
        font-weight : normal;
        font-style  : normal;
        font-display: block;
    }

    $ec-emoji     : "\e900";
    $ec-eco       : "\e901";
    $ec-restaurant: "\e902";
    $ec-favorite  : "\e903";
    $ec-sports    : "\e904";
    $ec-bike      : "\e905";
    $ec-objects   : "\e906";

    .#{$class} {
        font-family   : $font-familly;
        line-height   : $line-height;
        font-style    : normal;
        font-weight   : normal;
        font-variant  : normal;
        text-transform: none;

        &.ec-emoji {
            &:before {
                content: $ec-emoji;
            }
        }

        &.ec-eco {
            &:before {
                content: $ec-eco;
            }
        }

        &.ec-restaurant {
            &:before {
                content: $ec-restaurant;
            }
        }

        &.ec-favorite {
            &:before {
                content: $ec-favorite;
            }
        }

        &.ec-sports {
            &:before {
                content: $ec-sports;
            }
        }

        &.ec-bike {
            &:before {
                content: $ec-bike;
            }
        }

        &.ec-objects {
            &:before {
                content: $ec-objects;
            }
        }
    }
}

@mixin emoji-theme($class: "fem", $font-familly: "color-emoji") {

    @font-face {
        font-family: $font-familly;
        src        : local("Apple Color Emoji"),
            local("Segoe UI Emoji"),
            local("Segoe UI Symbol"),
            local("Noto Color Emoji");
    }

    .#{$class} {
        font-family   : $font-familly;
        font-style    : normal;
        font-weight   : normal;
        font-variant  : normal;
        text-transform: none;
        font-size     : 1em;
        
        @include emoji-list();
    }
    
    .emoji-list {
        .#{$class} {
            font-size     : 1em;
            line-height   : 1em;
            display       : inline-block;
            padding       : 0;
            margin        : $emoji-margin;
            vertical-align: middle;
            width         : $emoji-size;
            box-sizing    : content-box;
            cursor        : pointer;
            &:before {
                font-size : .85em;
                text-align: left;
            }
        }
    }
}