@mixin fx-col() {
    display        : flex;
    flex-direction : column;
    flex-wrap      : nowrap;
    justify-content: stretch;
    align-content  : flex-start;
    align-items    : stretch;
}

@mixin fx-rec() {
    flex        : 1 1 auto;
    //align-self: stretch;
    @include fx-col();
}

.button-bar {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: flex-start;
    align-content  : flex-start;
    align-items    : flex-start;
    padding        : 16px;

    >*,
    >button {
        order       : 0;
        flex        : 0 1 auto;
        align-self  : auto;
        margin-right: 16px;
    }

    >*.fill {
        flex: 1 1 auto;
    }
}

.fx-col {
    @include fx-col();
}

.fx0 {
    flex: 0 1 auto;
}

.fx1 {
    flex: 1 1 auto;
}

.mat-form-field.fx-col,
.mat-dialog-content.fx-col {
    display: flex !important;
}

.fx-stretch {
    @include fx-col();

    .mat-dialog-container {
        flex: 1 1 auto;
        @include fx-col();
    }
}

@mixin fix-mat-ff() {
    padding   : 0 !important;
    margin    : 0 !important;
    width     : auto !important;
    height    : auto !important;
    box-sizing: border-box;
}

// enable flexible mat-form-field to stretch mat-rte component
.mat-form-field.fx-col.fx1 {
    @include fix-mat-ff();
    @include fx-rec();
    overflow: hidden;

    .mat-form-field-wrapper {
        padding: 0 !important;
        flex   : 1 1 auto;
        @include fx-col();
        overflow: hidden;

        .mat-form-field-flex {
            @include fx-rec();
            overflow: hidden;

            .mat-form-field-infix {
                width : auto !important;
                border: none;
                flex  : 1 1 auto;
                @include fx-col();
                overflow: hidden;
                position: relative;

                .mat-form-field-label-wrapper {
                    padding-top   : 1em;
                    padding-bottom: .3em;
                    width         : auto !important;
                    height        : auto !important;
                    box-sizing    : border-box;
                    position      : unset !important;
                    flex          : 0 1 auto;
                    order         : 0;

                    .mat-form-field-label {
                        position : unset !important;
                        transform: translateY(-2px) scale(.75);
                    }
                }

                .mat-rte {
                    flex         : 1 1 auto;
                    order        : 1;
                    position     : unset;
                    margin-bottom: 20px;
                }

                .mat-form-field-underline,
                .mat-form-field-subscript-wrapper {
                    flex    : 0 1 auto;
                    position: unset;

                }
            }
        }

        >* {
            flex: 0 1 auto;
        }
    }
}

.flex-col {
    box-sizing     : border-box;
    display        : flex;
    flex-direction : column;
    flex-wrap      : nowrap;
    justify-content: flex-start;
    align-content  : stretch;
    align-items    : stretch;
}

@import 'mat-dialog.scss';