<mat-sidenav-container class="flex11">
    <mat-sidenav class="ms-nav" #sideNav mode="side">
        <div class="v-box ctn-padding gap16 main">
            <button (click)="createThread()" color="accent" class="message-btn icon-ctn" mat-raised-button>Nouveau message <span class="svg-icons send"></span></button>
            <div class="v-box scroller ctn-padding flex01 gap16 mat-elevation-z2">
                <div *ngFor="let thread of api.threadList | async" (click)="openThread(thread.id)" matRipple
                    class="flex10 h-box thread-preview fx-clr primary mat-elevation-z2"
                    style="align-items: baseline;">
                    <user-preview [showName]="true" class="flex01" [userId]="thread.user_id"><h3> | {{ thread.subject }}</h3></user-preview>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>