<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" version="1.1" viewBox="0 0 72 72">
  <defs>
    <symbol id="person" viewBox="0 0 768 768">
      <path fill="currentColor" d="M384 480.562q121.263 0 252.631 52.772t131.369 138.105v96.562h-768v-96.562q0-85.334 131.368-138.105t252.632-52.772zM384 384q-78.596 0-134.737-56.14t-56.141-134.737 56.141-135.859 134.737-57.263 134.737 57.263 56.14 135.859-56.14 134.737-134.737 56.14z"></path>
    </symbol>
  </defs>
</svg>
<div class="app-main">
  <nav class="nav-main" mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let route of routes" [routerLink]="route.path" [active]="activeLink == route">
      {{route.title}}
    </a>
  </nav>
  <div class="app-scroller">
    <router-outlet></router-outlet>
  </div>
</div>
<audio soundNotification notificationType="userOn">
  <source src="assets/sounds/ding-dong.mp3" type="audio/mpeg">
  <source src="assets/sounds/ding-dong.ogg" type="audio/ogg">
  <source src="assets/sounds/ding-dong.wav" type="audio/wav">
</audio>
<audio soundNotification notificationType="userOff">
  <source src="assets/sounds/door.mp3" type="audio/mpeg">
  <source src="assets/sounds/door.ogg" type="audio/ogg">
  <source src="assets/sounds/door.wav" type="audio/wav">
</audio>
<audio soundNotification notificationType="message">
  <source src="assets/sounds/frog-3.mp3" type="audio/mpeg">
  <source src="assets/sounds/frog-3.ogg" type="audio/ogg">
  <source src="assets/sounds/frog-3.wav" type="audio/wav">
</audio>
<audio soundNotification notificationType="reply">
  <source src="assets/sounds/frog-1.mp3" type="audio/mpeg">
  <source src="assets/sounds/frog-1.ogg" type="audio/ogg">
  <source src="assets/sounds/frog-1.wav" type="audio/wav">
</audio>