<div class="app-main">
  <nav class="nav-main" mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let route of routes" [routerLink]="route.path" [active]="activeLink == route">
      {{route.title}}
    </a>
  </nav>
  <div class="app-scroller">
    <router-outlet></router-outlet>
  </div>
</div>
<audio soundNotification notificationType="userOn">
  <source src="assets/sounds/ding-dong.mp3" type="audio/mpeg">
  <source src="assets/sounds/ding-dong.ogg" type="audio/ogg">
  <source src="assets/sounds/ding-dong.wav" type="audio/wav">
</audio>
<audio soundNotification notificationType="userOff">
  <source src="assets/sounds/door.mp3" type="audio/mpeg">
  <source src="assets/sounds/door.ogg" type="audio/ogg">
  <source src="assets/sounds/door.wav" type="audio/wav">
</audio>
<audio soundNotification notificationType="message">
  <source src="assets/sounds/frog-3.mp3" type="audio/mpeg">
  <source src="assets/sounds/frog-3.ogg" type="audio/ogg">
  <source src="assets/sounds/frog-3.wav" type="audio/wav">
</audio>
<audio soundNotification notificationType="reply">
  <source src="assets/sounds/frog-1.mp3" type="audio/mpeg">
  <source src="assets/sounds/frog-1.ogg" type="audio/ogg">
  <source src="assets/sounds/frog-1.wav" type="audio/wav">
</audio>