$pico-size: 200px;
$margin   : 16px;

.picto-view {
    display        : flex;
    flex-direction : column;
    flex-wrap      : nowrap;
    justify-content: flex-start;
    align-content  : center;
    align-items    : center;

    .picto-box {
        font-size: 118px;
        width     : $pico-size;
        height    : $pico-size;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .picto-display {
            flex: 0 1 auto;
            order     : 0;
            align-self: auto;
        }
    }
}