$pico-size: 200px;
$margin   : 16px;

.picto-view {
    display        : flex;
    flex-direction : column;
    flex-wrap      : nowrap;
    justify-content: flex-start;
    align-content  : center;
    align-items    : center;
    font-size: $pico-size;
    .picto-box {
        font-size: 80%;
        width     : $pico-size;
        height    : $pico-size;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .picto-img {
            max-width: $pico-size;
            max-height: $pico-size;
        }
        .picto-display {

            flex: 0 1 auto;
            order     : 0;
            align-self: auto;
        }
    }
}