<div class="v-box stretch gap16">
    <div class="picto-box  mat-elevation-z2">
        <span *ngIf="!imgSrc && !imgData" class="svg-icons person fx-clr primary"></span>
        <img *ngIf="imgSrc" [src]="user | userPicto" class="picto-img mat-elevation-z2" />
        <img *ngIf="imgData" [src]="imgData" class="picto-img mat-elevation-z2" />
    </div>
    <button class="flex11" mat-raised-button color="primary" (click)="fileInput.click()">
        Sélectionner une image <span class="svg-icons camera_alt"></span>
    </button>
    <button class="flex11" mat-raised-button color="primary" (click)="selectAvatar()">
        Choisir un avatar <span class="svg-icons emoji_emotions"></span>
    </button>
</div>
<input #fileInput hidden (change)="selectFile($event)" accept="image/png,image/gif,image/jpeg,image/jpg"
    type="file">