<div [formGroup]="form">
    <button [disabled]="form.invalid" color="accent" mat-raised-button>Send</button>
    <mat-form-field style="width: 100%;">
        <mat-label>Objet</mat-label>
        <input matInput required formControlName="subject">
    </mat-form-field>
</div>
<quill-editor format="object" name="editor" [(ngModel)]="model" [required]="true"></quill-editor>
<!--
<div [formGroup]="form">
    <button [disabled]="form.invalid" color="accent" mat-raised-button>Send</button>
    <mat-form-field style="width: 100%;">
        <mat-label>Objet</mat-label>
        <input matInput required formControlName="subject">
    </mat-form-field>
    <mat-form-field style="width: 100%;" class="rte-mff">
        <mat-label class="rte-label">Message</mat-label>
        <mat-rte [minLength]="minLength" (contentChange)="contentChange($event)" formControlName="content"
            style="height: 50vh;" [required]="true"></mat-rte>
        <mat-error *ngIf="!form.controls.content.valid">error</mat-error>
    </mat-form-field>
</div>
<div style="height: 25vh; overflow: scroll; font-size: 10px;">
    <pre><code>{{ content | json }}</code></pre>
</div>
-->