<div class="main" *ngIf="asyncThreadData | async">
    <mat-card class="thread-card">
        <mat-card-content>
            <div class="divider fx-row">
                <user-preview class="fx-clr primary fx1" mat-card-title pictoSize="large" [userId]="threadData.user.id"
                    [showName]="true">| {{thread.subject}}</user-preview>
                <button class="tooltip fx0" #tooltip="matTooltip" (click)="tooltip.show()" [matTooltip]="readbyText"
                    color="accent" mat-raised-button>
                    <span class="remove_red_eye svg-icons"></span>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-content class="thread-scroller" (scroll)="scrolled($event)" #scrollframe>
            <mat-card class="thread-part thread-owner">
                <!--owner message -->
                <mat-card-content>
                    <div [matRteView]="threadData.inserts"></div>
                </mat-card-content>
            </mat-card>
            <!--message replies -->
            <mat-card class="thread-part" *ngFor="let content of replies"
                [class.thread-owner]="content.user_id == thread.user_id">
                <mat-card-content>
                    <user-preview class="primary" *ngIf="content.user_id != thread.user_id" showName="true"
                        pictoSize="medium" [userId]="content.user_id"></user-preview>
                    <div [matRteView]="content.inserts"></div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
    <mat-expansion-panel #threadPanel class="thread-panel" (afterExpand)="afterExpand()"
        (opened)="panelOpenState = true" (closed)="panelCloseHandler()">
        <mat-expansion-panel-header>
            <mat-panel-title class="fx-clr accent" *ngIf="!panelOpenState">
                Répondre
            </mat-panel-title>
            <mat-panel-title *ngIf="panelOpenState">
                <button color="accent" class="icon-ctn" mat-raised-button [disabled]="messageControl.invalid"
                    (click)="reply($event)">Envoyer <span class="svg-icons reply"></span></button>
                <button color="accent" mat-raised-button (click)="openRtePopup()">Éditeur plus grand <span
                        class="svg-icons reply"></span></button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="height: 33vh;" mat-rte #rte (sendShortcut)="reply()" [formControl]="messageControl"></div>
    </mat-expansion-panel>
</div>