.thread-card {
    .tooltip {
        min-width    : 36px;
        width        : 36px;
        height       : 36px;
        border-radius: 50%;
        padding      : 0;
    }

    .remove_red_eye {
        font-size: 28px;
    }
}

.divider {
    overflow: hidden;
    align-items: center;
    padding-right: 16px;
    >user-preview {
        margin: 16px;
    }
}
.svg-icons.zoom_out_map {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    
}
.reply-panel-header {
    align-items: center;
}