<mat-card class="thread-card nav-card flex-card">
    <mat-card-header>
        <div mat-card-avatar><img width="40px" height="40px"
                src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
        </div>
        <mat-card-title>Thread {{threadId}}</mat-card-title>
        <mat-card-subtitle>Fionn Volt</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-card class="thread-part thread-owner">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>Fionn Volt</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Cool
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>Foo Bar</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    J'ADORE
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    WAHOU
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Cool
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>Foo Bar</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    J'ADORE
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    WAHOU
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Cool
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>Foo Bar</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    J'ADORE
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    WAHOU
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Cool
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part thread-owner">
            <mat-card-content>
                <p>
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>Foo Bar</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    J'ADORE
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="thread-part">
            <mat-card-header>
                <div mat-card-avatar><img width="40px" height="40px"
                        src="https://lh3.googleusercontent.com/a-/AOh14Gh44hiOyoO4eVoMU8A96yJD1PFzHd8Z6pKq1nZKPw=s96-cc-rg" />
                </div>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    WAHOU
                </p>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
    
    <mat-card-footer>
        <mat-toolbar>
            <mat-toolbar-row>
                <h2>@TODO</h2>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-raised-button color="accent">Envoyer</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-footer>
</mat-card>